/* feuille de style css */




/****************************************************/
/*************** Page Accueil ***************/
/****************************************************/

/****************************************************/
/*************** header ***************/
/****************************************************/

/****************************************************/
/*************** footer ***************/
/****************************************************/

#footer-principal{
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding: 20px;
}
